<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Motorola Szachy♟️</title>
    <link rel="stylesheet" href="static/index.css">
</head>
<!--<body oncontextmenu="return false"> TODO: dodać to przed oddaniem projektu -->
<body>
    <div id="mainmenu">
        <div id="header">
            <h1 id="title">Motorola Szachy♟️</h1>
            <div id="musicplayer">
                <div id="cover"></div>
                <div id="musicplayerflex">
                    <div id="musicplayerInfo">
                        <div id="musicplayerTitle">test</div>
                        <div id="musicplayerArtist">M. P.</div>
                    </div>
                    <div id="musicplayerControls">
                        <button id="musicplayerPrev" onclick="prevMusic()">⏮️</button>
                        <button id="musicplayerPlay" onclick="playMusic()">▶️</button>
                        <button id="musicplayerPause" onclick="pauseMusic()">⏸️</button>
                        <button id="musicplayerNext" onclick="nextMusic()">⏭️</button>
                    </div>
                </div>
            </div>
            <div id="profile">
                <div id="profilePfp"><img id="profilePfpSrc" src=""></div>
                <div>
                    <div id="profileName"></div>
                    <div id="profileRank"></div>
                </div>
            </div>
        </div>
        <div id="gameModes">
            <h2>Z kim zagrasz dziś?</h2>
            <div>
            <button id="startHuman" onclick="renderSetup('human')">Ze znajomym</button>
            <button id="startBot" onclick="renderSetup('bot')">Z botem</button>
            <button id="startGM" onclick="renderSetup('gm')">Z arcymistrzem</button>
        </div>
        </div>
        <div id="modeList"><div style="display: flex;"><h1>Wybierz tryb gry</h1><h1 id="close" onclick="closeModes();">X</h1></div><div id="modeBtns"></div></div>
        <div id="feed">
            <h2 id="feedTitle">Aktualności</h2>
            <div id="feedContent">
                <div onclick="createPopUp('info', '🍳Problem', 'Jedyny changelog jaki jest dostępny to historia commitów na githubie...')" class="feedItem" id="feedItem0">
                    <div class="feedItemTitle">Aktualne informacje</div>
                    <div class="feedItemContent"><span id="latest_news"></span></div>
                </div>
                <div onclick="createPopUp('info', '⚠️Uwaga', 'Dokumentacja jest dostępna w folderze docs w repozytorium')" class="feedItem" id="feedItem5">
                    <div class="feedItemTitle">Zobacz dokumentację</div>
                    <div class="feedItemContent">Bardzo dobra dokumentacja</div>
                </div>
                <div onclick="renderSetup('bot')" class="feedItem" id="feedItem1">
                    <div class="feedItemTitle">Zagraj z SochAI</div>
                    <div class="feedItemContent">Nasza najnowsza Sztuczna Głupota</div>
                </div>
                <div class="feedItem" id="feedItem2">
                    <div class="feedItemTitle">Sponsor główny</div>
                    <div class="feedItemContent">Szymon Sochaj i jego firma</div>
                </div>
                <div class="feedItem" id="feedItem3">
                    <div class="feedItemTitle">Windows 9</div>
                    <div class="feedItemContent">Nasza autorska dystrybucja Linuxa</div>
                </div>
                <div class="feedItem" id="feedItem4">
                    <div class="feedItemTitle">Zagraj z MatiuuAI</div>
                    <div class="feedItemContent">Mądrzejszy model szachowy</div>
                </div>
                <div class="feedItem" id="feedItem6">
                    <div class="feedItemTitle">Zagraj w inne nasze gry</div>
                    <div class="feedItemContent">Jest ich wiele</div>
                </div>
            </div>
        </div>
        <div id="bottomButtons">
            <button id="settings_entry" onclick="document.getElementById('settings').style.display = 'block'">USTAWIENIA</button>
            <button id="exit" onclick="exitGame()">WYJŚCIE</button>
        </div>
    </div>
    <div id="chessGame">
        <div id="chessSocial">
            <div id="chessPfp2"><img src="/static/profiles/a_8f428c9540cd76b2a6d8a727db98cee7.png"></div>
            <div class="chessName" id="chessName2">MinerPL</div>
            <div id="chessTimer2"></div>
            <div id="chessButtons">
                <button id="chessResign" onclick="resign();">REZYGNACJA</button>
                <button id="chessDraw" onclick="draw();">REMIS</button>
                <button id="chessExit" onclick="exit();">WYJŚCIE</button>
                <button id="chessBack" onclick="back();">COFNIJ RUCH</button>
            </div>
            <div id="chessTimer1"></div>
            <div class="chessName" id="chessName1">Patyna</div>
            <div id="chessPfp1"><img src="/static/profiles/8715642fbbded8333534042f40a2a3e4.png"></div>
        </div>
        <div class="chessSetup" id="chessSetupHuman">
            <div id="chessSetupContainer">
                <div id="chessSetupFields">
                    <div class="warningSetup">Jeżeli zmieniłeś układ figur to np. szachy Fischera (960) to i tak szachy będą miały twój układ figur</div>
                    <h2>Mój znajomy znajduje się...</h2>
                    <div id="chessSetupField1">
                        <div id="chessSetupField1Content">
                            <div class="toggle-container">
                                <div class="toggle" id="toggle">
                                    <div class="slider"></div>
                                    <div class="labels"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h2>Wybierz tryb gry w jaki zagracie</h2>
                    <div id="chessSetupField2">
                        <div id="chessSetupField2Content">
                        </div>
                    </div>
                    <h2>Wybierz dodatkowe opcje</h2>
                    <div class="option-list">
                        <div class="option">
                            <span>Zezwól na cofanie ruchu</span>
                            <label class="toggle-switch">
                                <input type="checkbox" id="allowUndo" checked>
                                <span class="slider"></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div id="chessGameStart">
                    <button id="chessGameStartButton" class="modeBtn" onclick="startGame('human')">ZACZNIJ GRĘ!!!</button>
                </div>
            </div>
        </div>
        <div class="chessSetup" id="chessSetupBot">
            <div id="chessSetupContainer">
                <div id="chessSetupFields">
                    <div class="warningSetup">Jeżeli zmieniłeś układ figur to np. szachy Fischera (960) to i tak szachy będą miały twój układ figur</div>
                    <h2>Jaki ma być bot?</h2>
                    <div id="chessSetupField1">
                        <div id="chessSetupField1Content">
                            <div class="toggle-container">
                                <div class="toggle" id="toggleBot">
                                    <div class="slider"></div>
                                    <div class="labels"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h2>Wybierz dodatkowe opcje</h2>
                    <div class="option-list">
                        <div class="option">
                            <span>test</span>
                            <label class="toggle-switch">
                                <input type="checkbox">
                                <span class="slider"></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div id="chessGameStart">
                    <button id="chessGameStartButtonBot" class="modeBtn" onclick="startGame('Bot')">ZACZNIJ GRĘ!!!</button>
                </div>
            </div>
        </div>
        <div class="chessSetup" id="chessSetupGM">
            <div id="chessSetupContainer">
                <div id="chessSetupFields">
                    <div class="warningSetup">Zmiana układu figur nie jest obsługiwana w grze z Arcymistrzem</div>
                    <h2>Wybierz z kim zagrasz</h2>
                    <div id="chessSetupField10">
                        <div id="chessSetupField10Content">
                        </div>
                    </div>
                    <h2>Wybierz dodatkowe opcje</h2>
                    <div class="option-list">
                        <div class="option">
                            <span>test</span>
                            <label class="toggle-switch">
                                <input type="checkbox">
                                <span class="slider"></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div id="chessGameStart">
                    <button id="chessGameStartButtonGM" class="modeBtn" onclick="startGame('GM')">ZACZNIJ GRĘ!!!</button>
                </div>
            </div>
        </div>
        <div id="chessBoard">

            <div id="chessBoardContainer">
                <div id="chessBoardFields"></div>
            </div>
            <div id="chessPromotion">
                <button id="chessPromotionQueen" onclick="promotion('q')"><img src="/static/figures/q.svg"></button>
                <button id="chessPromotionRook" onclick="promotion('r')"><img src="/static/figures/r.svg"></button>
                <button id="chessPromotionBishop" onclick="promotion('b')"><img src="/static/figures/b.svg"></button>
                <button id="chessPromotionKnight" onclick="promotion('k')"><img src="/static/figures/n.svg"></button>
            </div>
            <div id="chessBoardEditor">
                <div id="chessBoardEditorFields">
                    <div style="display:flex;" id="piecePalette">
                        <img src="/static/figures/k.svg">
                        <img src="/static/figures/q.svg">
                        <img src="/static/figures/r.svg">
                        <img src="/static/figures/b.svg">
                        <img src="/static/figures/n.svg">
                        <img src="/static/figures/p.svg">
                        <img src="/static/figures/kx.svg">
                        <img src="/static/figures/qx.svg">
                        <img src="/static/figures/rx.svg">
                        <img src="/static/figures/bx.svg">
                        <img src="/static/figures/nx.svg">
                        <img src="/static/figures/px.svg">
                    </div>
                </div>
            </div>
        </div>
        <div id="chessStats">
            <div id="chessGameTypeStat">
                <h3>Typ gry</h3>
                <div id="chessGameType"></div>
            </div>
            <div id="chessTurnStat">
                <h3>Obecnie gra</h3>
                <div id="chessTurn"></div>
            </div>
            <div id="chessMistakesStat">
                <h3>Błędy</h3>
                <div id="chessMistakes"></div>
            </div>
            <div id="chessPrecipitatesStat">
                <h3>Strącenia</h3>
                <div id="chessPrecipitates"></div>
            </div>
            <div id="chessLogStat">
                <h3>Log</h3>
                <div id="chessLog"></div>
            </div>
            <div id="chessButtonsStat">
                <button id="chessDownloadHistory"></button>
                <button id="chessDownloadLog"></button>
                <button id="chessNerdView"></button>
            </div>
        </div>
    </div>
    <div id="errorPopUp">
        <div id="errorPopUpContent">
            <div id="errorPopUpText">Błąd połączenia</div>
            <button id="errorPopUpButton" onclick="closeErrorPopUp()">OK</button>
        </div>
    </div>
    <div id="infoPopUp">
        <div id="infoPopUpContent">
            <div id="infoPopUpText">Informacja</div>
            <button id="infoPopUpButton" onclick="closeInfoPopUp()">OK</button>
        </div>
    </div>
    <div id="loading">
        <div id="lobar">
            <img src="/static/loading.webp">
        </div>
        <div id="loinfo">Wczytuję...</div>
    </div>
    <div id="exitscreen">
        <div id="exbar">Teraz możesz bezpiecznie zamknąć kartę w przeglądarce.</div>
    </div>
    <div id="settings">
        <div style="display: flex; font-size: 2rem; font-weight: 800;">
            <div id="title_settings">USTAWIENIA GRY</div>
            <div id="close_settings" onclick="document.getElementById('settings').style.display = 'none'">X</div>
        </div>
        <div class="settingbox">
            <p>Muzyka</p>
            <input class="setright" type="range" id="musicvol" min="0" max="100" value="100">
        </div>
        <div class="settingbox">
            <p>Efekty dźwiękowe</p>
            <input class="setright" type="range" id="sfxvol" min="0" max="100" value="100">
        </div>
        <div class="settingbox">
            <p>Tryb ciemny</p>
            <label class="setright" class="switch">
                <input class="xcheckbox" type="checkbox" id="darkmode">
            </label>
        </div>
        <div class="settingbox">
            <p>Otwórz ponownie konfigurator</p>
            <button class="setright xbutton" id="reinit" onclick="document.getElementById('init').style.display='block';">Otwórz</button>
        </div>
    </div>
    <div id="init">
        <div style="display: flex; font-size: 2rem; font-weight: 800;">
            <div id="title_settings">WITAJCIE W SZACHACH!</div>
        </div>
        <div>Mamy nadzieję iż gra Wam się spodoba i ocenicie ją wysoko! Zachęcamy również do eksploracji rozległej dokumentacji.</div>
        <div>Wybierz nazwę i zdjęcie dla osób grających na tym komputerze</div>
        <div id="profileEdit">
            <div id="profileEditPfp">
                <div class="player-select">
                    <img id="myPfp1" class="prpr" src=""><div class="nextBtn" onclick="nextPfp(this)">⏭️</div>
                    <div class="playerFlex">
                        <div style="height: 30%;">Nazwa osoby nr. 1</div>
                        <input class="profileEditNameInput" type="text" id="profileEditNameInput1" placeholder="Patyna">
                    </div>
                </div>
                <div class="player-select">
                    <img id="myPfp2" class="prpr" src=""><div class="nextBtn" onclick="nextPfp(this)">⏭️</div>
                    <div>
                        <div style="height: 30%;">Nazwa osoby nr. 2</div>
                        <input class="profileEditNameInput" type="text" id="profileEditNameInput2" placeholder="MinerPL">
                    </div>
                </div>
            </div>
        </div>
        <div>Po więcej opcji zawsze możesz się udać do ustawień.</div>
        <button id="saveProfiles" onclick="saveProfiles()">Zapisz profile</button>
    </div>
    <script src="static/index.js"></script>
    <audio id="loadingSound" class="sfx" src="/static/sounds/loading.ogg" autoplay></audio>
    <audio id="clickSound" class="sfx" src="/static/sounds/click.ogg"></audio>
    <audio id="btnClickSound" class="sfx" src="/static/sounds/btn.ogg"></audio>
    <audio id="notifySound" class="sfx" src="/static/sounds/notify.ogg"></audio>
</body>
</html>
