@font-face {
    font-family: 'GameFont';
    src: url('/static/font.woff2') format('woff2');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'GameFont';
    user-select: none;
    overflow: hidden;
    will-change: transform;
    transition: all 0.2s;
}

html, body {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
}

#mainmenu {
    height: 100%;
    width: 100%;
}

#header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
}

#title {
    font-size: 4rem;
    margin: 4rem;
}

#gameModes {
    margin: 3rem;
    margin-top: 0 !important;
}

#gameModes div {
    display: flex;
}

#gameModes button {
    padding: 2rem;
    font-size: 2rem;
    border: none;
    border-radius: 1rem;
    margin: 1rem;
    transition: 0.3s all;
}

#gameModes button:hover {
    cursor: pointer;
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.3);
}

#gameModes .active {
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.3);
    transform: scale(1);
    animation: pulse 2s infinite;
}


@keyframes pulse {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }

    50% {
        transform: scale(0.9);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }

    100% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }
}

#startGM {
    background: linear-gradient(90deg, hsla(169, 100%, 49%, 1) 0%, hsla(77, 100%, 18%, 1) 100%);
}

#startBot {
    background: linear-gradient(90deg, hsla(197, 100%, 63%, 1) 0%, hsla(294, 100%, 55%, 1) 100%);
}

#startHuman {
    background: linear-gradient(90deg, hsla(333, 100%, 53%, 1) 0%, hsla(33, 94%, 57%, 1) 100%);
}

#bottomButtons {
    display: flex;
    margin-left: 3rem;
    margin-right: 3rem;
    position: absolute;
    bottom: 3rem;
    width: calc(100% - 6rem);
    align-items: center;
}

#bottomButtons button {
    font-size: 1.5rem;
    border: none;
    padding: 2rem;
    border-radius: 1rem;
    background: none;
}

#bottomButtons button:hover {
    cursor: pointer;
    transition: 0.2s all;
    background-color: hsla(0, 0%, 0%, 0.5);
}

#exit {
    margin-left: auto;
}

#chessGame {
    display: none;
    height: 100%;
    width: 100%;
}

#chessSocial {
    width: 10%;
    background-color: #BDBEA9;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 2%;
    border-radius: 1rem;
}


.chessSetup {
    width: 25%;
    background-color: #ACFCD9;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 2%;
    border-radius: 1rem;
}

#chessButtons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;

}

#chessButtons button {
    width: 100%;
    margin: 1rem 0;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 1rem;
    padding: 2rem;
    backdrop-filter: blur(10px);
    border: none;
}

.chessName {
    font-size: 2rem;
}

#chessSocial img {
    width: 80%;
    margin: 10%;
    border-radius: 50%;
}

#chessBoard {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#chessBoardContainer {
    width: 100%;
    margin-left: 50%;
    justify-content: center;
}

#chessStats {
    margin: 2%;
    width: 21%;
    background-color: #D2AB99;
    border-radius: 1rem;
    text-align: center;
}

.row {
    display: flex;
    height: 12.5%;
}

.square {
    width: 10vh;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FCF7FF;
    position: relative;
    aspect-ratio: 1/1;
}

.square img {
    width: 80%;
    height: 80%;
}

.boardNumbers{
    position: absolute;
    top: 0.4vh;
    left: 0.4vh;
    font-weight: 700;
}
.boardLetters{
    position: absolute;
    bottom: 0.4vh;
    right: 0.4vh;
    font-weight: 700;
}
.nocolor {
    background-color: unset !important;
}

.validMove {
    background-color: #D0A370 !important;
}

#errorPopUp {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #D2AB99;
    border-radius: 1rem;
    padding: 2rem;
    z-index: 1;
}

#errorPopUp button {
    font-size: 2rem;
    border: none;
    padding: 2rem;
    border-radius: 1rem;
    background: none;
    margin: 1rem;
}

#errorPopUpText {
    font-size: 2rem;
}

#infoPopUp {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #D2AB99;
    border-radius: 1rem;
    padding: 2rem;
    z-index: 1;
}

#infoPopUp button {
    font-size: 2rem;
    border: none;
    padding: 2rem;
    border-radius: 1rem;
    background: none;
    margin: 1rem;
}

#infoPopUpText {
    font-size: 2rem;
}

.popup {
    position: fixed;
    right: 30px;
    top: 30px;
    max-width: 500px;
    padding: 40px;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    display: none;
    z-index: 1000;
    animation: slideright-popup 0.5s;
}

.popup h3 {
    margin: 0;
    font-size: 18px;
    color: white;
}
.popup p {
    margin: 10px 0 0;
    font-size: 14px;
    color: white;
}
.popup button {
    margin-top: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}
.popup.error {
    border-color: #ff4d4d;
}
.popup.info {
    border-color: #4d94ff;
}

#modeList {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    animation-fill-mode: forwards !important;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 1rem;
    padding: 2rem;
    z-index: 1;
}

.modeBtn {
    font-size: 2rem;
    border: none;
    padding: 2rem;
    border-radius: 1rem;
    margin: 1rem;
    background-color: rgba(0, 0, 0, 0.5);
}

.modeBtn:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.7);
}

.modeBtn:active {
    color: white;
    background-color: rgba(0, 0, 0, 0.9);
}

.modeBtn.active {
    color: white;
    background-color: rgba(0, 0, 0, 1);
}

#close {
    margin-left: auto;
}

#feed {
    margin: 0 3rem;
    overflow: hidden;
}

#feedContent {
    display: inline-flex;
    overflow-inline: visible;
}

.feedItem {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.3);
    transition: 0.3s all;
    width: fit-content;
    height: 30vh;
    width: 30vw;
    background-position: center;
    background-repeat: no-repeat;
    background-clip: border-box;
    background-size: cover;
    color: white;
}

.feedItemTitle {
    font-size: 3rem;
}

.feedItem:hover {
    cursor: pointer;
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.3);
}

#feedItem0 {
    background-image: url('/static/feed/0.png');
}

#feedItem1 {
    background-image: url('/static/feed/1.png');
}

#feedItem2 {
    background-image: url('/static/feed/2.png');
}

#feedItem3 {
    background-image: url('/static/feed/5.jpg');
}

#feedItem4 {
    background-image: url('/static/feed/4.png');
}

#feedItem5 {
    background-image: url('/static/feed/7.png');
    color: black;
}

#feedItem6 {
    background-image: url('/static/feed/6.png');
}

#loading {
    position: absolute;
    background-color:rgba(255, 255, 255, 1);
    height: 100vh;
    top: 0;
    width: 100vw;
    left: 0;
    z-index: 2137;
    overflow: hidden;
    transition: all 1s;
}

#lobar {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#lobar img {
    max-width: 200px;
    max-height: 200px;
    width: auto;
    height: auto;
}

#loinfo {
    width: 100vw;
    text-align: center;
    margin-top: 65vh;
    font-size: 3em;
}

#profile {
    display: flex;
    align-items: center;
    margin-right: 3rem;
    background-color: #D2AB99;
    border-radius: 1rem;
    padding: 1rem;
    height: 7rem;
}

#profilePfp {
    margin-left: auto;
    width: 5vw;
}

#profilePfp img {
    width: 85%;
    border-radius: 50%;
}

#musicplayer {
    margin-left: auto;
    align-items: center;
    margin-right: 3rem;
    display: flex;
    background-color: #99C0D2;
    border-radius: 1rem;
    padding: 1rem;
    height: 7rem;
}

#musicplayerControls button {
    border: none;
    background-color: rgba(0, 0, 0, 0);
    margin: 0 1rem;
}

#musicplayerInfo {
    text-align: right;
}

@keyframes slideup-translate-center {
    0% {
        transform: translate(-50%, -1000px) scaleY(2.5) scaleX(0.2);
        transform-origin: 50% 0%;
        filter: blur(40px);
        opacity: 0;
    }
    100% {
        transform: translate(-50%, -50%) scaleY(1) scaleX(1);
        opacity: 1;
        animation-fill-mode: forwards;
    }
}

@keyframes slideup-center {
    0% {
        transform: translateY(1000px);
        opacity: 0;
        filter: blur(40px);
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slidedown-translate-center {
    0% {
        transform: translate(-50%, -50%) scaleY(1) scaleX(1);
        opacity: 1;
    }
    100% {
        transform: translate(-50%, -1000px) scaleY(2.5) scaleX(0.2);
        transform-origin: 50% 0%;
        filter: blur(40px);
        opacity: 0;
        animation-fill-mode: forwards;
    }
}

@keyframes slidedown-center {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(1000px);
        opacity: 0;
        filter: blur(40px);
    }
}

@keyframes slideright-popup {
    0% {
        transform: translateX(-1000px);
        opacity: 0;
        filter: blur(40px);
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideleft-popup {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(300px);
        opacity: 0;
    }
}

.option-list {
    padding: 20px;
}
.option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #DDDDDD;
}
.option:last-child {
    border-bottom: none;
}
.toggle-switch {
    position: relative;
    width: 40px;
    height: 20px;
}
.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #DDDDDD;
    transition: .4s;
    border-radius: 20px;
}
.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

/* input not checked */
input + .slider {
    background-color: #DDDDDD;
}
input:checked + .slider {
    background-color: #55D6BE;
}
input:checked + .slider:before {
    transform: translateX(20px);
}

.toggle-container {
    display: flex;
    align-items: center;
    padding: 10px;
    position: relative;
}
.toggle {
    position: relative;
    display: flex;
    align-items: center;
    background: #ddd;
    border-radius: 20px;
    width: 100%;
    height: 30px;
    cursor: pointer;
    overflow: hidden;
}
.slider {
    position: absolute;
    height: 100%;
    border-radius: 20px;
    transition: 0.4s;
    background: #55D6BE;
    width: calc(100% / var(--options));
}
.labels {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: absolute;
    z-index: 1;
    font-size: 14px;
    font-weight: bold;
    color: white;
    padding: 0 8px;
}
.labels span {
    flex: 1;
    text-align: center;
    color: black;
}

#chessSetupContainer {
    height: 100%;
}

#chessGameStart {
    display: flex;
}

#chessGameStartButton {
    width: 85%;
    margin: 1rem 7.5%;
    border: none;
    display: flex;
    align-items: flex-end;
}

#chessGameStartButtonBot {
    width: 85%;
    margin: 1rem 7.5%;
    border: none;
    display: flex;
    align-items: flex-end;
}

#chessGameStartButtonGM {
    width: 85%;
    margin: 1rem 7.5%;
    border: none;
    display: flex;
    align-items: flex-end;
}

#settings {
    position: absolute;
    top: 20%;
    left: 20%;
    height: 60%;
    width: 60%;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    display: none;
    z-index: 1000;
    animation: slideright-popup 0.5s;
    padding: 1rem;
}

#close_settings {
    text-align: right;
    margin-left: auto;
}

.settingbox {
    display: flex;
    margin-top: 1rem;
}

.setright {
    text-align: right;
    margin-left: auto;
}

.uslider {
    width: 100%;
    height: 30px;
    background: #ddd;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
    margin: 10px 0;
}

#init {
    position: absolute;
    top: 20%;
    left: 20%;
    width: 60%;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    display: none;
    z-index: 1000;
    animation: slideright-popup 0.5s;
    padding: 1rem;
}

#pfpsList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

#pfpsList img {
    width: 40%;
    height: 40%;
    margin: 1rem;
    border-radius: 50%;
    transition: all 0.2s;
}

#profileEditNameInput {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 1rem;
    padding: 2rem;
    border: none;
    color: white;
}

#profileEditNameInput:focus {
    outline: none;
}

#latest_news {
    text-align: right;
}

#chessPromotion {
    display: none;
    background-color: #D2AB99;
    border-radius: 1rem;
}

#chessPromotion button {
    width: 25%;
    margin: 1rem 2%;
    border: none;
    display: flex;
    align-items: flex-end;
    border-radius: 1rem;
    padding: 2rem;
    backdrop-filter: blur(10px);
}

#chessBoardEditor {
    background-color: #D2AB99;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    margin-left: 25.5%;
    margin-right: auto;
    height: 10%;
    width: 60.5%;
}

#chessBoardEditorFields {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2%;
    height: 50%;
}

.player-select {
    display: flex;
    margin: 1rem;
}

.player-select img {
    width: 12.5%;
    border-radius: 50%;
}

.warningSetup {
    background-color: #D2AB99;
    border-radius: 1rem;
    width: 92%;
    margin: 4%;
    padding: 2rem;
    z-index: 1;
    display: none;
}

.pgnBtn {
    width:fit-content;
    font-size: 1rem;
    padding: 0.7em;
}

body.dark {
    color: white;
}

body.dark #mainmenu {
    background-color: black;
}

body.dark .popup {
    background-color: rgba(255, 255, 255, 0.4);
}

body.dark #settings {
    background-color: rgba(255, 255, 255, 0.4);
}

body.dark #bottomButtons button {
    color: white !important;
}

body.dark #chessGame {
    background-color: black;
}

body.dark #loading {
    background-color: rgba(0, 0, 0, 1);
}

body.dark .feedItem {
    box-shadow: 0 0 0 5px rgba(255,255,255, 0.3);
}

body.dark .feedItem:hover {
    box-shadow: 0 0 0 10px rgba(255,255,255, 0.7);
}

body.dark #bottomButtons button:hover {
    background-color: hsla(0, 0%, 100%, 0.5);
}

.profileEditNameInput {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 1rem;
    padding: 2rem;
    width: 100%;
    height: 70%;
    font-size: 2rem;
}

.profileEditNameInput:focus {
    outline: none;
}   

.nextBtn {
    margin: 2rem 1rem;
    padding: 0.5rem;
    backdrop-filter: blur(10px);
    border: none;
    font-size: 2rem;
}

.playerFlex {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#saveProfiles {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    width: 95%;
    height: 10%;
    backdrop-filter: blur(10px);
    border-radius: 1rem;
    border: none;
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.5);
}

.xbutton {
    backdrop-filter: blur(10px);
    border-radius: 1rem;
    border: none;
    padding: 0.2rem;
    background-color: rgba(0, 0, 0, 0.5);
}

#exitscreen {
    position: absolute;
    background-color:rgba(255, 255, 255, 1);
    height: 100vh;
    top: 0;
    width: 100vw;
    left: 0;
    z-index: 2137;
    overflow: hidden;
    transition: all 1s;
    display: none;
}

.dark #exitscreen {
    background-color: rgba(0, 0, 0, 1);
}

#exbar {
    font-size: 2rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}